.edit{
    border: 1px solid #dbdbdb;
    background: #fff;
    display: flex;
}

.edit > div:nth-child(1){
    width: 25%;
    border-right: 1px solid #dbdbdb;
}

.edit > div:nth-child(1) ul li.active{
    font-weight: bold;
    border-left: 2px solid #000;
}

.edit > div:nth-child(1) ul li a{
    display: inline-block;
    width: 236px;
    height: 52px;
    padding: 16px 16px 16px 30px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.edit > div:nth-child(2){
    width: 75%;
}

.edit-profile__profile {
    display: flex;
    align-items: center;
}

.edit-profile__profile img{
    width: 38px;
    height: 38px;
    object-fit: cover;
    display: inline-block;
    margin-right: 30px;
    margin-left: 120px;
    cursor: pointer;
}

.edit-profile__profile > div span{
    display: block;
}

.edit-profile__profile > div span:nth-child(1){
    font-size: 20px;
}

.edit-profile__profile > div span:nth-child(2){
    color: #0095F6;
    font-weight: 600;
    cursor: pointer;
}

.edit-profile__info{
    
}



